*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: vh;
  background: #e3f9ff;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}
.todolist{
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  width: 450px;
}
h1{
  color: #000000;
  font-size: 40px;
  font-weight: bold;
}
.list-head{
  margin-top: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.entered-list{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 20px;
  outline: none;
}
.add-list{
  background-color: blue;
  border-radius: 5px;
  border: none;
  background-color: rgb(8, 6, 133);
  outline: none;
  font-size: 20px;
  color: #fff;
  opacity: .6;
  pointer-events: none;
  cursor: pointer;
}
.add-list.active{
  opacity: 1;
  pointer-events: all;
}
.tasks{
  width: 100%;
  margin-top: 30px;
}
.item{
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.item p{
  font-size: 16px;
  font-weight: 500;
  color: #111;
  letter-spacing: 1px;
}
.item.completed p{
  text-decoration: line-through;
  color: #11111180;
}
.item-btn{
  gap:10px;
  display: flex;
  align-items: center;
}
.item-btn i{
  color: rgb(8, 6, 133);
  font-size: 18px;
  cursor: pointer;
}
